<div class="col d-flex justify-content-center">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img-aws.ehowcdn.com/560x560/photos.demandstudios.com/getty/article/228/242/stk82449cor.jpg" alt="Process Pension">
        <div class="card-body">
          <h5 class="card-title">Process Pension</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="../aadhar" (onClick)="processPension()" class="btn btn-primary">Enter</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2022/02/10/1020174-pension-ians.jpg" alt="Get Pension Details">
      <div class="card-body">
        <h5 class="card-title">Get Pension Details </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="../pension-details" (onClick)="getPensionDetails()" class="btn btn-primary">Enter</a>
      </div>
    </div>

</div>

