<div class="container-fluid">
<router-outlet></router-outlet>
<h2 align="center">Enter Aadhar Number</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <img src="#" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <div style="width: 80%;">
        <form #f="ngForm" (ngSubmit)="submit(f)">
             <div class="form-group">
              <br>
              <label for="exampleInputPassword1">Enter Aadhar Number</label>
              <input required ngModel name="aadharNo" #aadharNo="ngModel" type="text" class="form-control"
              placeholder="User Name" aria-label="User Name" id="aadharNo">
             </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
    </div>
  </div>
</div>

</div>